body {
    color: #333;
    background-color: white;
    background-image: radial-gradient(pink 10%, transparent 20%);
    background-position: 0 0, 10px 10px;
    background-size: 60px 60px;
    font-family: Verdana, sans-serif;
    margin: 0;
}

header {
    padding-top: 16px;
    padding-bottom: 16px
}

.info {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.info > h1 {
    font-weight: normal;
}

.info > p {
    font-size: 80%;
}

.main {
    background-color: white;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 7px;
    padding-bottom: 7;
}

.main section {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.main ul {
    list-style-type: none;
    display: flex;
}

.main ul li img {
    margin-right: 100px;
}

.button_wrapper {
    text-align: center;
}

button {
    width: 100px;
    height: 60px;
    font-size: 1.4em;
    font-weight: bold;
}

.canvas {
    text-align: center;
    cursor: pointer;
}

#result{
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px
}

.hide {
    display: none;
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    background-image: url(../img/712-88.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 150px 150px;
}

#imageuploader {
    margin-top: 10px;
    text-align: center;
    border: solid;
}

